
.dino {
  position: absolute;
  width: 140px;
  height: 140px;
  background-image: url(img/t-rex.png);
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0px;
}

.obstacle {
  position: absolute;
  width: 120px;
  height: 120px;
  background-image: url(img/cacti.png);
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0px;
}

@keyframes slideright {
  from {
      background-position: 70000%;
  }
  to {
      background-position: 0%;
  }
}

@-webkit-keyframes slideright {
  from {
      background-position: 70000%;
  }
  to {
      background-position: 0%;
  }
}

#desert {
  position: absolute;
  bottom: 9px;
  background-image: url('img/t-rex-background.png');
  background-repeat: repeat-x;
  background-size: cover;
  animation: slideright 600s infinite linear;
  -webkit-animation: slideright 600s infinite linear;
  width: 100%;
  height: 3099px;
}